
<!-- Card 0 : Arama kısmı -->

  <div class="playlistCard">
    <md-card>
        <h1>{{'SEARCH_FOR_SONG'|translate}}</h1>
      
        <md-input-container>
            <input id="searchInput" #searchInput mdInput [placeholder]="'SEARCH'|translate">
        </md-input-container>
          <br>
          <hr>
        <app-song-shower  *ngFor="let i of searchSongs; let j = index" [info]="searchSongs[j]">
        </app-song-shower>


     </md-card>
  </div>


  <!-- Card 1 : kişiye özel -->
  <div class="playlistCard">
<md-card>
  <h1>{{'FOR_YOU' | translate}}</h1>
  <button md-mini-fab class="refresh" (click)="refreshPlayList(0)"><md-icon>refresh</md-icon></button>
   <br>
  <hr>
  <div *ngIf="forYouSongs == null"> {{'PLAYLIST_LOADING'|translate}}</div>
  <app-song-shower *ngFor="let i of forYouSongs; let j = index" [info]="forYouSongs[j]"></app-song-shower>
 
</md-card>
  </div>


    <!-- Card 2 : Genreler -->

      <div class="playlistCard" >
<md-card>
  <h1>{{'GENRES' | translate}}</h1>

  <button md-mini-fab class="refresh"><md-icon>refresh</md-icon></button>
   <br>
         <md-select [placeholder]="'GENRES' | translate" (change)="genreChanged($event)">
        <md-option *ngFor="let genre of service.genres" [value]="genre.id">
          {{ genre.name }}
        </md-option>
      </md-select>
  <hr>



  <app-song-shower *ngFor="let i of genreSongs; let j = index" [info]="genreSongs[j]"></app-song-shower>    

      
</md-card>
  </div>




   <!-- Card  3 : Genreler 

  <div class="playlistCard">
    
<md-card>
  <h1>{{'COUNTRIES' | translate}}</h1>
<button md-mini-fab class="refresh" (click)="refreshPlayList(1)"><md-icon>refresh</md-icon></button>
 <br>
  <hr>
  <div *ngIf="countrySongs == null"> {{'PLAYLIST_LOADING'|translate}} </div>

    <md-input-container>
      <input mdInput [ngModel]="this.service.getCountryId()"
       [placeholder]="'COUNTRY'|translate"  [formControl]="stateCtrl" [mdAutocomplete]="auto" >
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete" >
      <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>

    <app-song-shower *ngFor="let i of countrySongs; let j = index" [info]="countrySongs[j]"></app-song-shower>    
 
</md-card>
  </div>


Card 4 : Yaş aralığıı
  <div class="playlistCard">
<md-card>
  <h1>{{'AGE' | translate}}</h1>
    <button md-mini-fab class="refresh" (click)="refreshPlayList(3)"><md-icon>refresh</md-icon></button>
     <br>
    <md-input-container>
      <input mdInput [placeholder]="'AGE'|translate" [value]="service.local.age">
    </md-input-container>
    <hr>
 <div *ngIf="ageSongs == null">{{'PLAYLIST_LOADING'|translate}}</div>


    
  <app-song-shower *ngFor="let i of ageSongs; let j = index" [info]="ageSongs[j]"></app-song-shower>    
 
</md-card>
  </div>

-->

<!-- 
<md-tab-group>


  <md-tab [label]="'FOR_YOU' | translate">
  </md-tab>

  <md-tab [label]="'COUNTRIES' | translate">
</md-tab>

  <md-tab [label]="'GENRES' | translate">
    
  </md-tab>


  <md-tab [label]="'AGE' | translate">
 </md-tab>
</md-tab-group>

-->