.content{
    position:fixed;
    left : 25%;
    min-width: 50%;
    max-width: 50%;
    margin: 8% auto;
}

.genre
{
    float:left;
    min-width: 200px;   
}
.song
{
    float:left;
    clear:right;
}
.button-next
{
    float : right;
}

.button-before
{
    float: left;
}
.button-firstTimeClose
{
    float:right

}

.buttonsWrapper
{
    position:fixed;
    left : 25%;
    min-width: 50%;
    max-width: 50%;
    margin: 3% auto;
}