
<md-toolbar class="footer" *ngIf="song.sarkiismi != ''">

    <table style="width:100%">
        <tr>
            <td class="sarki">
                <span> {{song.sarkiismi}} - {{song.sanatciIsmi}} </span>
            </td>
      
            <td style="float: left">
                <button md-mini-fab color="accent" (click)="togglePlay()">
                <md-icon *ngIf="!isPlaying">play_circle_filled</md-icon>
                <md-icon *ngIf="isPlaying">pause_circle_filled</md-icon>
                </button>
            </td>
     
            <td class="slider">
                <md-slider #slider (input)="sliderChange(slider)" style="width: 100%" color="warn" [(ngModel)]="bufferValue"></md-slider>
            </td>
  
            <td class="time">
                <span> {{min}} : {{second}} / {{durMin}} : {{durSec}} </span>
            </td>

            <td style="float: left">
                <button md-mini-fab color="accent" (click)="toggleMute()">
                <md-icon *ngIf="!isMuted">volume_up</md-icon>
                <md-icon *ngIf="isMuted">volume_off</md-icon>
                </button>
            </td>
    

            <td>
                <button md-mini-fab color="accent" (click)="closeMusicPlayer()">
                <md-icon>close</md-icon>

                </button>
            </td>
            

            
        </tr>
    </table>


</md-toolbar>

  <iframe id="youtube" *ngIf="isIdLoaded" width="550" height="550" style="visibility: hidden" [src]="this.youtubesrc" frameborder="0" ></iframe>
