@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(../node_modules/@angular/material/prebuilt-themes/indigo-pink.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* You can add global styles to this file, and also import other style files */
body {
  background: #EFEFEF;
  margin: 0px;
  height: 100% !important;
  width: 100% !important;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
html { height: 100% !important }

md-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}


* {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}